@inherits WeatherBase

<div class="frame-box weather-box">
    <div class="top-bottom-frame">
        <img src="/images/Box_TL.png" class="corner" />
        <img src="/images/Box_T.png" class="stretch-line" />
        <img src="/images/Box_TR.png" class="corner" />
    </div>
    <div class="middle-frame">
        <img src="/images/Box_S.png" class="stretch-column" />
        <div class="frame-content box-content-weather">
            <div class="infos">
                @if (LocalWeather != null)
                {
                    <label>Temperature: @LocalWeather.Temperature&deg;</label>
                }
                else if (OpenWeather != null)
                {
                    <label>Temperature*: @OpenWeather.Main.Temp&deg;</label>
                }

                @if (OpenWeather != null)
                {
                    <label>Feels Like: @OpenWeather.Main.FeelsLike&deg;</label>
                }

                @if (LocalWeather != null)
                {
                    <label>Humidity: @LocalWeather.Humidity%</label>
                }
                else if (OpenWeather != null)
                {
                    <label>Humidity*: @OpenWeather.Main.Humidity%</label>
                }

                @if (OpenWeather != null)
                {
                    <label>Weather: @OpenWeather.Weather.First().Description</label>
                    <label>Wind: @OpenWeather.Wind.Speed m/s</label>
                }

            </div>
            <div class="weather-icon">
                <img src="@Icon" class="icon" />
            </div>
        </div>
        <img src="/images/Box_S.png" class="stretch-column" />
    </div>
    <div class="top-bottom-frame">
        <img src="/images/Box_BL.png" class="corner" />
        <img src="/images/Box_B.png" class="stretch-line" />
        <img src="/images/Box_BR.png" class="corner" />
    </div>
</div>